{% extends 'base.html' %}
{% load static %}
{% block content %}

<img class="wave" src="{% static 'wave.png'%}">

<div class="container">
  <div class="img">
    <img src="{% static 'phone.svg' %}">
  </div>
  <div class="login-content">
    <form method="POST" action="">
      {% csrf_token %}
      {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

      <img src="{% static 'user.png' %}">
      <h2 class="title">Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Username</h5>
          <input type="text" name="username" class="input">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Password</h5>
          <input type="password" name="password" class="input" value="">
        </div>
      </div>


      <a href="{% url 'register' %}">Dont have an Acount?</a>
      <input type="submit" class="stn" value="Login">

      <div class="d-flex justify-content-center links">
        Forgot password? <a href="{% url 'reset_password' %}" class="ml-2">Reset password</a>
      </div>


      <div class="col">
      <a href="{% url 'social:begin' 'github' %}" class="twi btn">
        <i class="fa fa-github"  ></i>github
      </a>


      <a href="{% url 'social:begin' 'google-oauth2' %}" class="google btn">
        <i class="fa fa-google fa-fw"></i> Login with Google+
      </a>
 
      <a href="{% url 'social:begin' 'facebook' %}" class="fb btn">
      <i class="fa fa-facebook fa-fw"></i> Login with Facebook

      </a>

      </div>
 

 
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        .{% for message in messages %}
        <p id="messages">{{message}}</p>
      {% endfor %}
      </div>


    </form>
  </div>

</div>

</div>
<script>
  const inputs = document.querySelectorAll(".input");


  function addcl() {
    let parent = this.parentNode.parentNode;
    parent.classList.add("focus");
  }

  function remcl() {
    let parent = this.parentNode.parentNode;
    if (this.value == "") {
      parent.classList.remove("focus");
    }
  }


  inputs.forEach(input => {
    input.addEventListener("focus", addcl);
    input.addEventListener("blur", remcl);
  });
</script>
{% endblock %}
