{% extends 'base.html' %}
{% load static %}
{% block content %}
<img class="wave" src="{% static 'wave.png'%}">
<div class="container">
  <div class="img">
    <img src="{% static 'phone.svg' %}">
  </div>
  <div class="login-content">
    <form action="" method="POST">
      {% csrf_token %}
      <img src="{% static 'user.png' %}">
      <h2 class="title">Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Username</h5>
          <input type="text" class="input">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Password</h5>
          <input type="password" class="input">
        </div>
      </div>
      <a href="{% url 'register' %}">Dont have an Acount?</a>
      <input type="submit" class="btn" value="Login">
      <div class="message">
        <div class="alert alert-success" role="alert">
          {% if form.error %}
          {% for message in messages %}
          <p id="messages">{{message}}</p>
          {% endfor %}
          {% endif %}
        </div>
      </div>


    </form>

  </div>

</div>
<script>
  const inputs = document.querySelectorAll(".input");


  function addcl() {
    let parent = this.parentNode.parentNode;
    parent.classList.add("focus");
  }

  function remcl() {
    let parent = this.parentNode.parentNode;
    if (this.value == "") {
      parent.classList.remove("focus");
    }
  }


  inputs.forEach(input => {
    input.addEventListener("focus", addcl);
    input.addEventListener("blur", remcl);
  });
</script>
{% endblock %}