<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/DC_project/static/images/loginStyles.css" />
  </head>
  <body>
    <div class="loginbox">
      <img
        src="/DC_project/static/images/user-male-circle.png"
        alt=""
        class="avatar"
      />
      <h1>Login</h1>
      <form action="">
        <label for="">Username</label> <br />
        <input type="text" name="" placeholder="Enter Username" />
        <br />
        <label for="">Password</label> <br />
        <input type="password" name="" placeholder="Enter Password" /> <br />
        <button type="button" class="btn btn-primary">Login</button> <br>
        <a href="forgotPage.html" target="_blank">Forgot Password?</a> <br />
        <a href="#" class"Dont">Dont Have an Account?</a>
      </form>
    </div>
  </body>
</html>
